<!DOCTYPE html>
<html lang="en">
  {% include "./../../../src/components/head.html" %}
  <body>
    {% include "./../../../src/components/navbar.html" %}
    <div class="container pt-5 w-100 h-50">
      <div
        class="
          p-3
          bg-success bg-opacity-10
          border border-success border-start-0 border-end-0
          text-center
          mb-5
        "
      >
        Выбери сколько цифр в числе в примере ты хочешь посчитать:
      </div>
      <div
        class="
          row
          justify-content-center
          row-cols-12
          row-cols-sm-12
          row-cols-md-12
          row-cols-lg-12
          row-cols-xl-12
          row-cols-xxl-12
        "
      >
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/1" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/one.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">1 цифра</h5>
                    <p class="card-text">
                      Пример где будет 1 цифра в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/2" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/two.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">2 цифры</h5>
                    <p class="card-text">
                      Пример где будет 2 цифры в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/3" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/three.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">3 цифры</h5>
                    <p class="card-text">
                      Пример где будет 3 цифры в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/2" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/four.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">4 цифры</h5>
                    <p class="card-text">
                      Пример где будет 4 цифры в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/2" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/five.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">5 цифр</h5>
                    <p class="card-text">
                      Пример где будет 5 цифр в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/2" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/six.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">6 цифр</h5>
                    <p class="card-text">
                      Пример где будет 6 цифр в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a href="/exercises/{{type}}/2" style="text-decoration: none">
            <div
              class="card border-info"
              style="max-width: 540px; height: 100%"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="/static/images/digits/seven.jpg"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">7 цифр</h5>
                    <p class="card-text">
                      Пример где будет 7 цифр в каждом числе
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
      <!-- Назад card -->
        <div class="row justify-content-center">
          <div
            class="
              col-sm-auto
              col-md-auto
              col-lg-auto
              col-xl-auto
              col-xl-auto
              col-xxl-auto
              mb-5
            "
          >
            <a href="/exercises/" style="text-decoration: none">
              <div
                class="card text-center shadow-sm card border-danger"
                style="max-width: 540px; height: 100%"
              >
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Назад</h5>
                      <p class="card-text">
                        <small class="text-body-secondary"
                          >Вернуться на страницу назад</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      <!-- Назад card -->
    </div>
  </body>
</html>
