<!DOCTYPE html>
<html lang="en">
  {% include "./../../../src/components/head.html" %}
  <body >
    {% include "./../../../src/components/navbar.html" %}
    <div class="container pt-5 w-100 h-50">
      <div
        class="
          p-3
          bg-success bg-opacity-10
          border border-success border-start-0 border-end-0
          text-center
          mb-5
        "
      >
        Выбери количество примеров которое собираешься решать:
      </div>
      <div
        class="
          row
          justify-content-center
          row-cols-12
          row-cols-sm-12
          row-cols-md-12
          row-cols-lg-12
          row-cols-xl-12
          row-cols-xxl-12
        "
      >
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a
            href="/exercises/{{type}}/{{digits}}/{{quantity}}/10"
            style="text-decoration: none"
          >
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/free-vector/flat-design-english-logo-design_23-2149512646.jpg?w=1380&t=st=1705897578~exp=1705898178~hmac=2049787ee8717c529a3cc7c61bc7e96edf5b95aeaadb57c7cb1c570ddbc9e481"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">10 примеров</h5>
                    <p class="card-text">
                      10 примеров по {{digits}} цифр-(ы) и {{quantity}}
                      чисел-(a)
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a
            href="/exercises/{{type}}/{{digits}}/{{quantity}}/20"
            style="text-decoration: none"
          >
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/free-vector/flat-design-english-logo-design_23-2149512646.jpg?w=1380&t=st=1705897578~exp=1705898178~hmac=2049787ee8717c529a3cc7c61bc7e96edf5b95aeaadb57c7cb1c570ddbc9e481"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">20 примеров</h5>
                    <p class="card-text">
                      20 примеров по {{digits}} цифр-(ы) и {{quantity}}
                      чисел-(a)
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a
            href="/exercises/{{type}}/{{digits}}/{{quantity}}/30"
            style="text-decoration: none"
          >
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/free-vector/flat-design-english-logo-design_23-2149512646.jpg?w=1380&t=st=1705897578~exp=1705898178~hmac=2049787ee8717c529a3cc7c61bc7e96edf5b95aeaadb57c7cb1c570ddbc9e481"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">30 примеров</h5>
                    <p class="card-text">
                      30 примеров по {{digits}} цифр-(ы) и {{quantity}}
                      чисел-(a)
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a
            href="/exercises/{{type}}/{{digits}}/{{quantity}}/40"
            style="text-decoration: none"
          >
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/free-vector/flat-design-english-logo-design_23-2149512646.jpg?w=1380&t=st=1705897578~exp=1705898178~hmac=2049787ee8717c529a3cc7c61bc7e96edf5b95aeaadb57c7cb1c570ddbc9e481"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">40 примеров</h5>
                    <p class="card-text">
                      40 примеров по {{digits}} цифр-(ы) и {{quantity}}
                      чисел-(a)
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a
            href="/exercises/{{type}}/{{digits}}/{{quantity}}/50"
            style="text-decoration: none"
          >
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/free-vector/flat-design-english-logo-design_23-2149512646.jpg?w=1380&t=st=1705897578~exp=1705898178~hmac=2049787ee8717c529a3cc7c61bc7e96edf5b95aeaadb57c7cb1c570ddbc9e481"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">50 примеров</h5>
                    <p class="card-text">
                      50 примеров по {{digits}} цифр-(ы) и {{quantity}}
                      чисел-(a)
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <!-- href="/exercises/{{item.name}}/{{item.quantity}}?id={{item.id}}&digits={{item.digits}}&quantity={{item.digits}}" -->
          <a
            href="/exercises/{{type}}/{{digits}}/{{quantity}}/60"
            style="text-decoration: none"
          >
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/free-vector/flat-design-english-logo-design_23-2149512646.jpg?w=1380&t=st=1705897578~exp=1705898178~hmac=2049787ee8717c529a3cc7c61bc7e96edf5b95aeaadb57c7cb1c570ddbc9e481"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">60 примеров</h5>
                    <p class="card-text">
                      60 примеров по {{digits}} цифр-(ы) и {{quantity}}
                      чисел-(a)
                    </p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- back card -->
        <div class="row justify-content-center">
          <div
            class="
              col-sm-auto
              col-md-auto
              col-lg-auto
              col-xl-auto
              col-xl-auto
              col-xxl-auto
              mb-5
            "
          >
            <a href="/exercises/{{type}}/{{digits}}/" style="text-decoration: none">
              <div class="card text-center shadow-sm card border-danger" style="max-width: 540px;height: 100%;">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">Back</h5>
                      <p class="card-text">
                        <small class="text-body-secondary"
                          >Вернуться на страницу назад</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- back card -->
        
      </div>
    </div>
  </body>
</html>
