<!DOCTYPE html>
<html lang="en">
  {% include "../components/head.html" %}
  <body>
    {% include "../components/navbar.html" %}
    <div class="container pt-5 w-100 h-50">
      <div
        class="
          p-3
          bg-success bg-opacity-10
          border border-success border-start-0 border-end-0
          text-center
          mb-5
        "
      >
        Привет, {{user.name.split(' ',1)}}! Выбери чем сегодня будешь
        заниматься!
      </div>
      <div
        class="
          row
          justify-content-center
          row-cols-12
          row-cols-sm-12
          row-cols-md-12
          row-cols-lg-12
          row-cols-xl-12
          row-cols-xxl-12
        "
      >
        {% for item in subjects %}
        <div class="col-auto col-sm-12 col-md-auto col-lg-6 col-xl-6 col-xxl-4 mb-3">
          <a href="/exercises/{{item.znaki}}" style="text-decoration: none">
            <div class="card border-info" style="max-width: 540px;height: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="{{item.image}}"
                    class="img-fluid rounded-start rounded-end rounded-top"
                    alt="Картинка потерялась =("
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{item.cardtitle}}</h5>
                    <p class="card-text">{{item.cardtext}}</p>
                    <!-- <p class="card-text"><small class="text-body-secondary"></small></p> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% else %}
        <li>Кажется данные потерлись где-то по дороге =(</li>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
