/* // Custom.scss
// Вариант А: Включите весь Bootstrap

// Include any default variable overrides here (though functions won't be available) */



/* // Then add additional custom code here */
/* .card.mb-3 {
  height: 100%;
}
.btn-outline-info {
  --bs-btn-color: #a370f7;
  --bs-btn-border-color: #a370f7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a370f7;
  --bs-btn-hover-border-color: #a370f7;
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a370f7;
  --bs-btn-active-border-color: #a370f7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #a370f7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(111, 66, 193);
  --bs-gradient: none;
}
.border-info {
  --bs-border-opacity: 1;
  border-color: rgba(111, 66, 193, var(--bs-border-opacity)) !important;
}
.form-check-input:focus {
  border-color: #ffffff00;
  outline: 0;
  box-shadow: 0 0 0 0;
} */

